body {
	margin: 0;
	color: #fff;
}

#manage-box {
	width: 212px;
	margin: 0;
	position: fixed;
	left: 0;
	background-color: #222;
}

#input-box {
	width: 200px;
	margin: 6px;
	display: flex;
}

#input-name {
	width: 80px;
}

.settings-input {
	width: 110px;
	margin-left: 10px;
}

#img-box {
	width: auto;
	height: auto;
	background-color: #0f5;
	position: fixed;
	right: 0;
}
